<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Principal</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
	<section class="row container-fluid">
      <nav class="navbar bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="principal.html">Principal</a>
        </div>
      </nav>
    </section>
    	<div class="container-fluid">
        	<div class="row col-md-12">
          		<div class="col-md-2">
          			<h4 class="text-center text-primary">Menu</h4>
          			<div class="d-grid gap-2">
								  <a href="cadUsuario.html" class="btn btn-primary">Cadastro de Usuário</a>
								  <button class="btn btn-primary" type="button">Button</button>
								  <button class="btn btn-primary" type="button">Button</button>
								  <button class="btn btn-primary" type="button">Button</button>
								  <button class="btn btn-primary" type="button">Button</button>
								  <button class="btn btn-primary" type="button">Button</button>
								  <button class="btn btn-primary" type="button">Button</button>
								  <button class="btn btn-primary" type="button">Button</button>
								</div>
          		</div>
          		<div class="col-md-10">
          			<br>
          			<h1 class="text-primary">Cadastro de Usuários</h1>
          			<hr>
          			<div class="row">
          				<div class="col-md-4">
          				  <label for="name">Nome Completo</label>
          				  <input class="form-control" type="text" name="nome" placeholder="Digite o nome Completo">
          				</div>
          				<div class="col-md-2">
          				  <label for="dataNascimento">Data de Nascimento</label>
          				  <input class="form-control" type="date" name="dataNascimento">
          				</div>
          				<div class="col-md-3">
          				  <label for="estadoCivil">Data de Nascimento</label>
          				  <select class="form-control">
          				  		<option value="casado">Cadasado</option>
          				  		<option value="solteiro">Solteiro</option>
          				  		<option value="enrolado">Enrolado</option>
          				  		<option value="divorciado">Divorciado</option>
          				  </select>          				  
          				</div>
          				<div class="col-md-3">
          					<label for="Sexo">Sexo</label>
          					<select class="form-control">
          				  		<option value="masculino">Masculino</option>
          				  		<option value="feminino">Feminino</option>          				  		
          				  </select>
          				</div>
          		  </div>
          		  <div class="espaco"></div>
          		  <div class="row">
          		  	<div class="col-md-4">
          		  		<label for="enredeco">Endereço</label>
          		  		<input class="form-control" type="text" name="endereco" placeholder="Nome da Rua">
          		  	</div>
          		  	<div class="col-md-1">
          		  		<label for="enredeco">Número</label>
          		  		<input class="form-control" type="text" name="endereco" placeholder="numero">
          		  	</div>
          		  	<div class="col-md-4">
          		  		<label for="bairro">Bairro</label>
          		  		<input class="form-control" type="text" name="bairro" placeholder="bairro">
          		  	</div>
          		  	<div class="col-md-3">
          		  		<label for="complemento">Complemento</label>
          		  		<input class="form-control" type="text" name="complemento" placeholder="Apto">
          		  	</div>
          		  </div>

          		  
          		  <div class="row espaco">
          		  	<div class="col-md-4">
          		  		<a href="#" class="btn btn-primary btn-lg">Realizar Cadastro</a>
          		  	</div>
          		  </div>  

          		  <hr>
          		  <h1 class="text-primary">Dados Cadastrados</h1>
          		  <div class="row espaco">
          		  	<div class="col-md-12">
          		  		<table class="table table-striped table-responsive">
          		  			<thead>
          		  				<tr>
          		  					 <th>Nome Completo</th>
          		  					 <th>Data Nascimento</th>
          		  					 <th>Sexo</th>
          		  				</tr>
          		  			</thead>
          		  			<tfoot></tfoot>
          		  			<tr>
          		  				<td>Joao da Silva</td>
          		  				<td>10/08/1986</td>
          		  				<td>Masculino</td>
          		  			</tr>
          		  			<tr>
          		  				<td>Joao da Silva</td>
          		  				<td>10/08/1986</td>
          		  				<td>Masculino</td>
          		  			</tr>
          		  		</table>
          		  	</div>
          		  </div>        		
          	  </div>



          	</div>
        </div>
	<section>
		
	</section>

	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>